header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8; /* Added a light background for visibility */
}

.logo img {
  height: 40px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

ul li {
  padding: 0 15px;
  font-family: system-ui, -apple-system, sans-serif;
  line-height: normal;
  color: #333;
}